.logview-table .td,
.logview-table .th {
	min-width: 0;
}

.logview-table .tr:not(.placeholder) .td {
	padding: 1px 8px;
	background-color: #f8f8f8;
	font-family: monospace;
	border: 0 !important;
	font-size: 12px;
	line-height: 16px;
	text-align: left;
}

.logview-table .td.lf-timestamp,
.logview-table .td.lf-tag {
	white-space: nowrap;
}

.logview-table .td.lf-ktime {
	text-align: right;
}

.logview-table .td.lf-message {
	      min-width: 250px;
	    font-family: monospace;
	  overflow-wrap: break-word;
	      word-wrap: break-word;
	 -ms-word-break: break-all;
	     word-break: break-all;
	     word-break: break-word;
	    -ms-hyphens: auto;
	   -moz-hyphens: auto;
	-webkit-hyphens: auto;
	        hyphens: auto;
}

.logview-table .tr .td ins {
	background-color: rgba(0,255,0,0.25);
	text-decoration: none;
	color: #000;
}

/* alert, crit, panic, emerg */
.tr.lv-p-alert .td,
.tr.lv-p-crit .td,
.tr.lv-p-panic .td,
.tr.lv-p-emerg .td {
	color: #f9e4e4; /* WHITE on RED */
	font-weight: bold;
	background-color: rgb(230, 0, 0) !important;
}

/* err, error */
.tr.lv-p-err .td,
.tr.lv-p-error .td {
	color: #651010; /* RED on RED */
	background-color: rgba(255, 179, 179, 0.4) !important;
}

/* warn, warning */
.tr.lv-p-warn .td,
.tr.lv-p-warning .td {
	color: #654f10; /* YELLOW */
	background-color: rgba(255, 213, 153, 0.4) !important;
}

/* notice */
.tr.lv-p-notice .td {
	color: #104565; /* BLUE */
	background-color: rgba(179, 224, 255, 0.4) !important;
}

/* info, none (default) */

/* debug */
.tr.lv-p-debug .td {
	color: #8c8c8c; /* GRAY */
	background-color: #ededed !important;
}

.logview-controls {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.logview-controls > div {
	align-items: center;
	display: flex;
	flex-flow: row;
}

.logview-controls > div .cbi-button + .cbi-button { margin-left: 5px; }
.logview-controls > div label { margin-left: 4px; margin-right: 8px; }

.logview-filter {
	display: flex;
	flex-flow: row;
	align-items: center;
	margin-top: 10px;
}

.logview-filter > button, .logview-filter > input {
	margin: 0 0 0 4px !important;
}

.logview-columns {
	display: flex;
	flex-wrap: nowrap;
	margin-top: 10px;
}

.logview-columns > label {
	margin-right: 4px;
	margin-top: 5px;
	align-self: flex-start;
	white-space: nowrap;
	flex-basis: 0;
}

.logview-columns > div {
	display: flex;
	flex-wrap: wrap;
}

.logview-columns > div > div {
	align-items: center;
	display: flex;
	flex-flow: row;
	padding: 2px 6px;
	margin: 2px 4px 2px 0;
	border-radius: 5px;
	border: 1px solid #e6e6e6;
}

.logview-columns > div > div.column-active {
	background: #e6e6e6;
}

.logview-columns > div > div > label { margin-left: 4px; white-space: nowrap; }
.logview-columns > div > div > input[type="checkbox"] { height: auto; }

/* Expanded view toggle button */
.logview > h2 {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

.logview > h2 > a > svg {
	pointer-events: none;
	width: 18px;
	height: 18px;
	vertical-align: middle;
	fill: #444;
}
