.logview-table .td,
.logview-table .th {
	min-width: 0;
}

.logview-table .tr.table-titles .th:last-child {
	width: 100%;
}

.logview-table .tr:not(.placeholder) .td {
	padding: 1px 8px;
	background-color: #f8f8f8;
	font-family: monospace;
	border-top: 0 !important;
	border-bottom: 1px solid #e6e6e6 !important;
	font-size: 12px;
	line-height: 16px;
	text-align: left;
}

.logview-table .td.lf-timestamp,
.logview-table .td.lf-tag {
	white-space: nowrap;
}

.logview-table .tr .td.lf-ktime,
.logview-table .tr .td.lf-number {
	text-align: right;
}

.logview-table .td.lf-message {
	      min-width: 250px;
	    font-family: monospace;
	  overflow-wrap: break-word;
	      word-wrap: break-word;
	 -ms-word-break: break-all;
	     word-break: break-all;
	     word-break: break-word;
	    -ms-hyphens: auto;
	   -moz-hyphens: auto;
	-webkit-hyphens: auto;
	        hyphens: auto;
}

.logview-table .tr .td ins {
	background-color: rgba(0,255,0,0.25);
	text-decoration: none;
	color: #000;
}

/* alert, crit, panic, emerg */
.lv-p-alert, .lv-p-alert > .td,
.lv-p-crit, .lv-p-crit > .td,
.lv-p-panic, .lv-p-panic > .td,
.lv-p-emerg, .lv-p-emerg > .td {
	color: #f9e4e4; /* WHITE on RED */
	font-weight: bold;
	background-color: rgb(230, 0, 0) !important;
}

/* err, error */
.lv-p-err, .lv-p-err > .td,
.lv-p-error, .lv-p-error > .td {
	color: #651010; /* RED on RED */
	background-color: rgba(255, 179, 179, 0.4) !important;
}

/* warn, warning */
.lv-p-warn, .lv-p-warn > .td,
.lv-p-warning, .lv-p-warning > .td {
	color: #654f10; /* YELLOW */
	background-color: rgba(255, 213, 153, 0.4) !important;
}

/* notice */
.lv-p-notice, .lv-p-notice > .td {
	color: #104565; /* BLUE */
	background-color: rgba(179, 224, 255, 0.4) !important;
}

/* info, none (default) */

/* debug */
.lv-p-debug, .lv-p-debug > .td {
	color: #8c8c8c; /* GRAY */
	background-color: #ededed !important;
}

.logview-controls {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.logview-controls > div {
	align-items: center;
	display: flex;
	flex-flow: row;
}

.logview-controls > div .cbi-button + .cbi-button { margin-left: 5px; }

.logview-controls > div label {
	padding-left: 4px;
	margin-left: 0;
	margin-right: 8px;
}

.logview-filter {
	display: flex;
	flex-flow: row;
	align-items: center;
	margin-top: 10px;
}

.logview-filter > button, .logview-filter > input {
	margin: 0 0 0 6px !important;
}

.logview-cbfitlers-container {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

.logview-cbfitlers-container > div {
	margin-right: 12px;
}

.logview-cbfitlers-container > div:last-child {
	margin-right: 0;
}

.logview-cbfilter {
	display: flex;
	flex-flow: column;
	flex-wrap: nowrap;
	margin-top: 10px;
}

.logview-cbfilter > label {
	margin-right: 6px;
	align-self: flex-start;
	white-space: nowrap;
	flex-basis: 0;
}

.logview-cbfilter > div {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 100%;
	align-content: flex-start;
}

.logview-cbfilter > div > div,
.logview-cbfilter > div > em {
	align-items: center;
	white-space: nowrap;
	padding: 2px 6px;
	margin: 2px 4px 2px 0;
}

.logview-cbfilter > div > div:last-child {
	margin-right: 0;
}

.logview-cbfilter > div > div {
	border-radius: 5px;
	border: 1px solid #a6a6a6;
	opacity: 0.5;
	user-select: none;
}

.logview-cbfilter > div > div.cb-active {
	background-color: #f8f8f8;
	opacity: 1;
	box-shadow: 0 1px 3px 0 #aaaaaa;
}

/* Expanded view toggle button */
.logview > h2 {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

.logview > h2 > a {
	cursor: pointer;
}

.logview > h2 > a > svg {
	pointer-events: none;
	width: 18px;
	height: 18px;
	vertical-align: middle;
	fill: #444;
}

.logview-controls > div input[type="checkbox"],
.logview-controls > div label,
.logview-cbfilter > div > div {
	cursor: pointer;
}

.logview-controls > div input[disabled="disabled"],
.logview-controls > div input[disabled="disabled"] + label,
.logview-cbfilter > div > div[disabled="disabled"] {
	cursor: not-allowed;
}

.logview-cbfilter > div > div[disabled="disabled"] {
	opacity: 0.65;
}
